PyYAML
vosk
pyttsx3
speechrecognition
pyaudio
sounddevice
pynput
pathlib
pypiwin32; platform_system == "Windows"
dimits
bardapi
transformers[torch]
git+https://github.com/huggingface/transformers
git+https://github.com/rgryta/pytube.git@main